<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417813059225-frktotqfb2qtcd6b0p8llh9qmindqglj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417813059225-frktotqfb2qtcd6b0p8llh9qmindqglj</string>
	<key>API_KEY</key>
	<string>AIzaSyCSj0EL_F6weaE2QOC1mAjHZFo_tPxYAsg</string>
	<key>GCM_SENDER_ID</key>
	<string>417813059225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sessions.galleryApp</string>
	<key>PROJECT_ID</key>
	<string>social-media-93afa</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-93afa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417813059225:ios:f3c8426e8cf7a989c94a08</string>
	<key>DATABASE_URL</key>
	<string>https://social-media-93afa-default-rtdb.firebaseio.com</string>
</dict>
</plist>